/* GENERAL SECTION */

:root{
  font-size: 16px;
}

body{
  font-family: "Alan sans", "sans-serif";
  background-color: #fff5ff;
  color: #202;
  margin: 0;
}

li{
  list-style: none;
}

ul{
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

/* HEADER SECTION */

.main-header{
  background-color: #202;
  color: #fff5ff;
}

.main-header .content{
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .content .logo p{
  margin: 0;
  font-size: 1.5rem;
}

.main-header .content .logo span{
  color: #d7d;
}

.main-header .content nav ul{
  display: flex;
  margin: 0;
}

.main-header .content nav ul a{
  padding: 20px 12px;
}