/* ===============
  GENERAL SECTION 
  ===============*/

:root{
  font-size: 16px;
  --bx-shad: 0 0 50px #6062;
  --color-primary: #fff5ff;
  --color-secondary: #202;
  --color-accent: #d7d;
  --border-rad: 3px;
  --max-wid: 900px;
  --transition: .2s ease;
  --margin-contn: 220px auto;
  --scale: 1.05;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Alan sans", "sans-serif";
  background-color: var(--color-primary);
  color: var(--color-secondary);
  margin: 0;
}

ul, ol{
  list-style: none;
  display: flex;
}

a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img{
  max-width: 100%;
  height: auto;
}

section{
  scroll-margin-top: 85px;
}

/* ================
  COMPONENTES BASE
  ================ */

.container{
  max-width: var(--max-wid);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 70px;
  margin: var(--margin-contn);
  padding: 0 18px;
}

.section__title{
  font-size: 2.5rem;
}

.life-logo-accent{
  color: var(--color-accent);
}

.btn{
  border-radius: var(--border-rad);
  text-transform: uppercase;
  text-indent: 1px;
  font-weight: bold;
  font-family: "Alan sans";
  padding: 8px 12px;
  cursor: pointer;
  transition: color var(--transition), background-color var(--transition), scale var(--transition);
}

.btn:hover{
  scale: var(--scale);
}


/* ==============
  HEADER SECTION 
  ==============*/

.header{
  background-color: var(--color-secondary);
  color: var(--color-primary);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: var(--bx-shad);
  z-index: 1000;
}

.header__content{
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
  margin: 0;
  font-size: 1.5rem;
}

.header__nav-list{
  margin: 0;
}

.header__nav-link{
  padding: 20px 12px;
  font-size: .8rem;
}

.header__nav-item{
  transition: scale .05s ease;
}

.header__nav-item:after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: auto;
  background-color: var(--color-accent);
  position: relative;
  top: -15px;
  transition: width var(--transition);
}

.header__nav-item:hover{
  scale: var(--scale);
}

.header__nav-item:hover::after{
  width: 40%;
}

/* ============
  HERO SECTION 
  ============*/

.hero {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.hero__content{
  margin: 55px auto;
  padding: 20px 30px;
}

.hero__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.hero__title, .hero__subtitle{
  margin: 0 0 10px 0;
  text-wrap: balance;
}

.hero__subtitle{
  font-size: 1rem;
  font-weight: 400;
  text-wrap: pretty;
}

.hero__content-img{
  background-image: url("assets/img/undraw_fitness-tracker_y5q5.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 600px;
  height: 300px;
}

.btn--hero{
  border: 2px solid var(--color-primary);
  width: fit-content;
  margin: auto;
  font-size: .8rem;
}

.btn--hero:hover{
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* ================
  BENEFITS SECTION 
  ================*/

.benefits__list{
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.benefits__item{
  flex-basis: 250px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border-radius: var(--border-rad);
  padding: 20px 15px 10px 15px;
  transition: box-shadow var(--transition), scale var(--transition);
}

.benefits__icon{
  display: grid;
  place-content: center;
  margin-bottom: 15px;
}

.benefits__text-title{
  font-weight: bold;
}

.benefits__item:hover{
  scale: 1.05;
  box-shadow: var(--bx-shad);
}

/* ================ 
  HOW WORK SECTION 
  ================ */

.how-work__list{
  width: 100%;
  flex-direction: column;
  gap: 30px;
}

.how-work__step{
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  min-height: 200px;
}

.how-work__step-img, .how-work__text{
  flex: 1;
}

.how-work__step-img{
  width: clamp(80px, 8%, 250px);
}

.how-work__step-title{
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.how-work__step-description{
  font-size: 1rem;
}

/* ====================
  TESTIMONIALS SECTION 
  =================== */


.testimonials__grid{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonials__card{
  flex: 1;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-rad);
  gap: 10px;
}

.testimonials__card-quote{
  margin: 0 0 10px 0;
  line-height: 1.6rem;
}

/* =============
  PLANS SECTION 
  =============*/

.plans__grid{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;

}

.plans__card{
  flex: 1;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  border-radius: var(--border-rad);
  padding: 20px 20px;
  transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, scale .15s ease-in-out;
}

.plans__icon{
  fill: var(--color-primary);
  transition: fill .2s ease;
}

.plans__card:hover{
  background-color: transparent;
  color: var(--color-secondary);
  box-shadow: 0 0 50px 0 #6062;
  scale: 1.05;
}

.plans__card:hover .plans__icon{
  fill: var(--color-secondary);
}

.plans__text-price{
  margin-bottom: 25px;
  display: block;
  font-size: .8rem;
}

.plans__text-list{
  flex-direction: column;
  gap: 10px;
  text-align: start;
}

.btn--plans{
  border: 2px solid var(--color-secondary);
  background-color: transparent;
}

.btn--plans:hover{
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

/* ===============
  CONTACT SECTION 
  =============== */


.contact-form{
  box-shadow: 0 0 50px 0 #6062;
  border-radius: var(--border-rad);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: initial;
  max-width: 100%;
  width: 450px;
}

.contact-form__group{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contact-form__help{
  font-size: .8rem;
  opacity: .65;
}

.contact-form__input{
  border: none;
  background-color: transparent;
  border-left: 2px solid var(--color-secondary);
  color: #101;
  padding: 2px 4px;
}

.contact-form__input:focus, .contact-form__text-area:focus{
  outline: 1px solid var(--color-secondary);
}

.contact-form__input::placeholder, .contact-form__text-area::placeholder{
  font-family: "Alan sans";
}

.contact-form__text-area{
  resize: none;
  border: 1px solid var(--color-secondary);
  background-color: transparent;
  padding: 2px 4px;
}

.contact-form__actions{
  text-align: center;
}

.btn--submit-form{
  border: 2px solid var(--color-secondary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  margin-right: 20px;
}

.btn--delete{
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary);
  background-image: linear-gradient(to top, var(--color-primary)44, transparent);
  color: var(--color-primary);
}

/* ==============
  FOOTER SECTION 
  ============== */

.footer{
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 50px;
}

.footer__top{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.footer__list{
  gap: 4px;
}

.footer__list a{
  justify-content: center;
}

.footer__top-navs{
  flex: 1;
  text-align: center;
}

.footer__nav-title, .footer__social-title{
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.footer__icon{
  fill: var(--color-primary);
  width: 25px;
  height: 25px;
}

.footer__social-link{
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__list{
  flex-direction: column;
}

.footer__nav-link{
  margin: 3px 0;
}

.footer__bottom{
  display: grid;
  place-content: center;
  margin-top: 40px;
}